/* General Styles */
.musicPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #3b0a0a; /* Dark red background color */
    border-radius: 10px; /* Rounded corners */
    width: 80%; /* Width of the player */
    max-width: 1200px; /* Max width */
    margin: 0 auto; /* Center the player */
    color: #f8d7da; /* Light red text color */
    height: 70vh; /* Height relative to viewport */
    overflow-y: auto; /* Vertical scrolling if needed */
    margin-bottom: 40px; /* Space below the player */
}

/* Controls */
.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.controls button {
    background-color: #a80000; /* Dark red button background */
    border: none;
    border-radius: 5%; /* Rounded buttons */
    color: #f8d7da; /* Light red text color */
    padding: 10px;
    margin: 0 5px; /* Space between buttons */
    cursor: pointer;
    width: 60px; /* Button width */
    height: 50px; /* Button height */
    transition: background-color 0.3s, transform 0.2s;
}

.controls button:hover {
    background-color: #e60000; /* Lighter red on hover */
    transform: scale(1.1); /* Slightly enlarge button on hover */
}

/* Track Info */
.trackInfo {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #f8d7da; /* Light red for track info */
}

/* Song List */
.songList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.songItem {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #a80000; /* Dark red border color */
    transition: background-color 0.3s, color 0.3s;
    color: #f8d7da; /* Light red text color */
}

.songItem:hover {
    background-color: #a80000; /* Dark red background on hover */
    color: #f8d7da; /* Light red text color on hover */
}

.active {
    background-color: #e60000; /* Lighter red for active track */
    color: #f8d7da; /* Light red text color for active track */
}

.trackNumber {
    margin-right: 10px;
}


/* Progress Bar */
.progressContainer {
    width: 100%;
    height: 10px; /* Adjust height as needed */
    background-color: #1b1818; /* Dark red background for the progress container */
    border-radius: 5px; /* Rounded corners for the container */
    cursor: pointer;
    margin-bottom: 20px; /* Space below the progress bar */
}

.progressBar {
    height: 100%;
    background-color: #e60000; /* Lighter red for the progress fill */
    border-radius: 5px; /* Rounded corners for the progress fill */
}
