/* Footer.module.css */

.footer {
  background: linear-gradient(to right, #ff3366, #33ff99, #ffcc33);
  font-family: 'Your Chosen Font', sans-serif; /* Replace 'Your Chosen Font' with the name of the font you selected */
  animation: moveX 3s infinite alternate, moveY 4s infinite alternate;
  color: #000000;
  padding: 1rem;
  text-align: center;
  
}

.footer p {
  font-size: 18px; /* Adjust the font size as needed */
}
  

.social a {
  margin: 0 15px; /* Adjust horizontal spacing between icons */
  font-size: 40px; /* Adjust the size of the icons */
  color: #000000;
  text-decoration: none; /* Ensure no underline by default */
}
    
.a {
color: #e50505;
text-decoration: none;
}

