/* VillaHeader.module.css */

/* Header styles */
.header {
  background: linear-gradient(to right, #ff3366, #33ff99, #ffcc33);
  font-family: 'Your Chosen Font', sans-serif; /* Replace 'Your Chosen Font' with the name of the font you selected */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0); /* Change background color */
  color: rgb(0, 0, 0); /* Change text color */
  padding: 1rem 20px; /* Adjust padding */
}

/* Logo styles */
.logo {
  flex: 1;
}

/* Navigation styles */
.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-right: 20px;
}

.nav li a {
  color: inherit; /* Inherit text color from parent (.header) */
  text-decoration: none;
  transition: color 0.3s; /* Add transition effect for color change */
}

.nav li a:hover {
  color: rgb(0, 76, 255); /* Change text color on hover */
}











/* Social media styles */
.social {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.social a {
  margin-left: 10px; /* Adjust spacing between icons */
}

.social a img {
  width: 30px; /* Adjust icon size */
  height: auto; /* Maintain aspect ratio */
  filter: brightness(0); /* Make icons white */
  transition: filter 0.3s; /* Add transition effect */
}

.social a img {
  filter: brightness(0) !important;
}



/* 
Wallet settings for The Villa. Shouldn't haave to worry about connecting
but I need to make sure that once disconnected the user is redirected to the non gate.*/

.connectWalletBtn{
  

  accent-color: #00c7ac !important;
  background: #000000 !important;

  border-color: #eeff00 !important;
  color: #cbcbd2 !important;
  border: 1px solid #0a6b0c !important;

  

}


.connectWalletBtn:hover {
  background-color: #000000 !important;
  color: #ffffff !important;
  border: 1px solid #bd00c7 !important;
}


/* Villa.module.css */

/* Hero section */
/* styles/Villa.module.css */

.hero {
  width: 30%; /* Set the width of the video to 100% of its container */
  height: auto; /* Allow the height to adjust proportionally based on the width */
  max-width: 100px; /* Set a maximum width to prevent the video from becoming too large */
  margin: 0 auto; /* Center the video horizontally */
}


/* styles/Villa.module.css */

.heroVideo {
  width: 100%; /* Set the width of the video to 100% of its container */
  height: auto; /* Allow the height to adjust proportionally based on the width */
  max-width: 1000px; /* Set a maximum width to prevent the video from becoming too large */
  margin: 0 auto; /* Center the video horizontally */
}


